* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

button:active, button:focus, button {
  outline: none;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
  color: #507fe1;
  background-color: transparent;
}

.button {
  display: block;
  padding: 15px 15px;
  background-color: #507fe1;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.navbar-wrap {
  z-index: 3;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  text-decoration: none;
  color: #262626;
  margin-bottom: 5px;
}

.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  display: block;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: -1;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  color: #fff;
  background-color: #507fe1;
  transition: 0.5s;
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.menu-active {
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-button {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button__line:after, .menu-button__line:before {
  content: '';
}

.menu-button__line:after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-button__line:before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-button__line, .menu-button__line:after, .menu-button__line:before {
  font-style: 18px;
  position: absolute;
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
}

.menu-button__active .menu-button__line:before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 13px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.menu-button__active .menu-button__line:after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 13px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.logo__text {
  font-style: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

.hero {
  min-height: 70vh;
  background: #f1f1f1 url(../img/4.jpg) no-repeat center right;
  background-size: contain;
  padding-top: 145px;
  padding-bottom: 270px;
}

.hero__square {
  background-color: #fff;
  width: 40%;
  padding: 20px;
  margin-bottom: 25px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 0;
  display: block;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.button:active, .button:hover {
  background-color: #1e4cad;
}

.button-o:hover, .button-o:active {
  color: #fff;
  background-color: #1e4cad;
}

.navbar__menu-button:hover {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 920px) {
  .hero__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .navbar__mobile, .navbar__landline {
    display: none;
  }
  .menu__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    height: 100%;
  }
  .menu {
    height: 40%;
  }
  .menu__nav {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    background-size: 154%;
    padding-bottom: 30px;
    padding-top: 43vh;
  }
}

@media screen and (max-width: 700px) {
  .hero__square {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  .button-o {
    font-size: 12px;
    margin: auto;
    padding: 13px 6px;
  }
  .hero {
    background-size: cover;
  }
  .hero__title {
    font-size: 16px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .container {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */