@media screen and (max-width:1200px){
.container {
    max-width: 95%;
  }
}
@media screen and (max-width:920px){
.hero__title {
    font-size: 20px;
    margin-bottom: 10px;
    
}
.navbar{
    &__mobile, &__landline{
        display:none;
    }
}
.menu__link{
    font-size:14px;
}
}
@media screen and (max-width:820px){
    .container {
    
        height: 100%;
      }
      .menu{
        height:40%;     
        &__nav{
            height:100%;
            flex-direction: column; 
        }
    }
    .hero{
        background-size: 154%;
        padding-bottom:30px;
       padding-top: 43vh;
    }
}
@media screen and (max-width:700px){
   
.hero{
    // padding-top: 80px;
    &__square {
        width: 100%;
}
}

}
@media screen and (max-width:576px){
.logo{
        display:none;
    }
.button-o{
        font-size:12px;
        margin: auto;
        padding: 13px 6px;
    }
    
.hero{
    
    
     background-size: cover;
     &__title {
        font-size: 16px;}
     &__subtitle {
            font-size: 18px;}
}


.container{
    height:100%;
}
} 