@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 920px) {
  .hero__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 122px;
  }
  .hero__square {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  .button-o {
    font-size: 12px;
    margin: auto;
    padding: 13px 6px;
  }
  .hero {
    padding-top: 43vh;
    background-size: cover;
  }
  .hero__title {
    font-size: 16px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .menu {
    height: 50%;
  }
  .menu__nav {
    flex-direction: column;
  }
  .conteiner {
    height: 100%;
  }
}
