.hero{
  min-height:70vh;
    background: #f1f1f1 url(../img/4.jpg) no-repeat center right;
    background-size:contain;
    padding-top:50px;
    padding-bottom:270px;
	&__square{
		background-color:#fff;
		width:40%;
		padding: 20px;
		margin-bottom: 25px;
	}
    &__title{
		font-size:30px;
		margin-bottom: 40px;
		margin-top:0;
		display: block;
    	}
    &__subtitle{
    	display: block;
		font-size:30px;
		@include bold;
	}
	

}