.navbar{
    left:0;
    top:0;
    width:100%;
    background-color:#fff;
     position:fixed;

    &-wrap{
    	 z-index:3;
    	background-color:#fff;
        display: flex;
        align-items: center;
        min-height: 80px;
        justify-content: space-between;
    }
    
    &__mobile, &__landline{
        text-align: right;
    }
    &__phone{
        display:block;
       font-size:19px;
       @include bold;
       text-decoration:none;
       color: $text-color;
       margin-bottom:5px;
    }
    &__small-text{
        font-size:14px;
        color:$text-color-light;
        display:block;
        text-decoration:none;
    }
    
}
.menu{ 
        position: fixed;
        z-index: 0;
        top:80px;
        left: 0;
        padding: 16px 0;
        width: 100%;
        color:#fff;
        background-color: $primary;
        transition: 0.5s;
        transform: translateY(-100%);
        opacity:0;
        &-active{
        z-index: 1;
        transform: translateY(0);
        opacity:1;
         }
        &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
        color:#fff;
        }
        &__nav{
           
            display: flex;
            align-items: center;
            justify-content: space-around;

        }
        &-button{
            position:relative;
            align-items: center;
            background-color: transparent;
            border:none;
            border-right: 1px solid rgba(#510bba,0.1);
            border-left: 1px solid rgba(#510bba,0.1);
            height: 80px;
            width: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 0.5s;
            
             &__line:after,&__line:before{
                 content:'';
             }
             &__line:after{
                 transform:translateY(10px);
               
}
              &__line:before{
                 transform:translateY(-10px);
                 
}
            &__line, &__line:after,&__line:before{
                font-style: 18px; 
                position:absolute;
                display: block;
                width: 20px;
                height: 3px;
                background-color: #89a9eb;
                transition:0.5s;
                top:50%;margin-top:-1.5px;
                left:50%;margin-left:-10px;
            }
            &__active &__line:before {
                transform:rotate(35deg);
                width:13px;
                transform-origin:left bottom;
            }
            &__active &__line:after {
                transform:rotate(-35deg);
                width:13px;
                transform-origin:left top;
            }
            // &__active &__line {    
            //     height:0;
            //         }
        }
    }
.logo{
    &__text{
        font-style: 18px;
        text-transform:uppercase;
        display:block;
        margin-bottom:5px;
        @include bold;
    }
    &__description{
        display:block;
        font-size:14px;
        color: $text-color-light;
    }
}