.navbar-wrap {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.navbar .menu-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}
